body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
    margin: 0;
    padding: 20px;
    padding-bottom: 0px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #f0f8ff, #b0e0e6, #87ceeb, #4682b4, #0000b7);
    /* background-image: url('oncology.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    opacity: 0.9;
    z-index: -1;

}

header {
    background-color: #0F2B62;
    color: white;
    padding: 10px 0;
}

.logoimg {
    max-width: 18%;
}

.navbar-toggler {
    border: none;
    background: none;
    color: white;
}

.nav-link {
    color: white !important;
    margin-right: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav ul li a {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    background-color: #0044cc;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav ul li a:hover {
    background-color: #002a8f;
}

.auth-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-toggler span.navbar-toggler-icon {
    color: white !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container {
    height: 100vh;
}


.Welcome {
    text-align: center;
    font-size: 1.5em;
    color: #102F68;
    margin-top: 50px;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.hero-text {
    padding: 20px;
    color: #ffffff;
    flex: 1;
    min-width: 300px;
    text-align: start;
}

.hero-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #102F68;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    min-width: 300px;
}

.hero-image img {
    max-width: 100%;
}

/* Custom CSS for both modals */
.modal-header {
    background-color: #0F2B62;
    color: white;
    text-decoration: underline;
}

.modal-header .btn-close {
    background-color: white;
    border: none;
}

.form-icon {
    text-align: center;
    margin-bottom: 20px;
}

.form-icon span {
    font-size: 3em;
    color: #0044cc;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    display: none;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.form-group .btn {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 200;
    background-color: #051e4d;
    border: none;
    color: white;
    margin-top: 20px;
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.input-box input {
    padding-right: 30px;
    /* Space for the icon */
}

.remember-forgot {
    margin-bottom: 15px;
}

.register-link {
    text-align: center;
}

.modal-header {
    background-color: #0F2B62;
    color: white;
    text-decoration: underline;
}

.modal-header .btn-close {
    background-color: white;
    border: none;
}

.form-icon {
    text-align: center;
    margin-bottom: 20px;
}

.form-icon span {
    font-size: 3em;
    color: #0044cc;
}

.form-group {
    margin-bottom: 15px;
}

.error-message {
    color: red;
    display: none;
    font-size: small;
}

.success-massage {
    color: rgb(17, 160, 58);
    display: none;
    font-size: small;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.form-group .btn {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 200;
    background-color: #051e4d;
    border: none;
    color: white;
    margin-top: 20px;
}

.btn-close {
    color: black;
    background: none;
    border: none;
}

.button {
    background-color: #102F68;
    color: #fff;
    border-radius: 10px;
    font-size: medium;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.hero-card .card-text {
    color: var(--eerie-black);
    border-block-end: 1px solid var(--midnight-green_a25);
    padding-block-end: 12px;
    margin-block-end: 14px;
}

.hero-card .input-wrapper {
    position: relative;
}

.hero-card .input-field {
    color: var(--eerie-black);
    border-block-end: 1px solid var(--gainsboro);
    padding-inline-end: 18px;
}

.hero-card .input-wrapper ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: var(--verdigris);
}

.hero-card .btn {
    width: 100%;
    justify-content: center;
    margin-block-start: 16px;
}

.namesection {
    height: 10% !important;
}

.namesection {
    padding-left: 2px !important;
}

.selectionlist {
    margin-left: 20px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.column {
    display: inline-block;
    flex-direction: column;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.fp-container {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.fp-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
}

.fp-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.fp-description {
    color: #777;
    margin-bottom: 20px;
}

.fp-form-group {
    margin-bottom: 15px;
}

.fp-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.fp-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.fp-submit-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fp-submit-btn:hover {
    background-color: #222;
}

.input[type="checkbox"]:checked {
    background-color: #4845c1;
}

.reset-inner-div{
    align-content: center;
    height: 80vh;
}

.logging-navigate-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logging-navigate-section .form-group,
    .inline-section .register-link {
        flex: 1;
        text-align: center;
    }
.logging-navigate-section .form-group p {
    margin-bottom: -1rem;;
    }

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .navbar-toggler {
        display: block;
        color: #fff;
    }

    .nav {
        display: none;
    }

    .logoimg {
        max-width: 50%;
    }

    .collapse.show .nav {
        display: flex;
        flex-direction: column;
        background-color: #0044cc;
        padding: 10px 0;
    }

    .nav ul li {
        display: block;
        margin: 10px 0;
    }

    .auth-links {
        display: block;
        margin-top: 10px;
    }

    .auth-links a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
    }

    .nav-link {
        color: white !important;
        background-color: #0044cc;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .nav-link:hover {
        background-color: #002a8f;
    }

    .hero {
        display: block;
    }

    .hero-text,
    .hero-image {
        padding: 10px;
    }

    .modal-content {
        padding: 10px;
    }

    .modal-body {
        padding: 10px;
    }

    .error-message {
        color: red;
        display: none;
        font-size: small;
    }

    .success-massage {
        color: rgb(17, 160, 58);
        display: none;
        font-size: small;
    }
    .fp-card {
        background-color: #d7c7ff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: auto;
    }
}

footer {
    background-color: #0F2B62;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #00bbff;
}